# All subdirs:
/*/

/Config.in
/Config.in.bak
/Makefile.autotools.in
/Makefile.package.in
/Makefile.in
/buildroot-libtool.patch

# except:
!/allegro/
!/armadeus/
!/bluez/
!/fbgrab/
!/fbtest/
!/lcd4linux/
!/mesa/
!/mtd/
!/pymysql/
!/sdlwater/
!/snes9x/
!/socketcan/
!/xenomai/
!/mesa/
