# All subdirs:
/*/

/Config.in
/Config.in.bak
/Makefile.autotools.in
/Makefile.in
/buildroot-libtool.patch

# except:
!/ad9889ctrl/
!/allegro/
!/armadeus/
!/armadeus-drivers-helpers/
!/armadeus-testsuite/
!/as_devices/
!/audio/
!/bluez/
!/ch7024ctrl/
!/fbgrab/
!/fbtest/
!/fpgaregs/
!/freescale-tools/
!/imxregs/
!/imxssi/
!/lcd4linux/
!/libcurl/
!/lmbench/
!/max5821ctrl/
!/mesa/
!/mplayer/
!/mtd/
!/openssh/
!/pymysql/
!/pyserial/
!/sdl/
!/sdlwater/
!/slideshow/
!/snes9x/
!/socketcan/
!/tslib/
!/xenomai/
!/mesa/
